.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*--------------------- logo -----------*/

.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__text {
  color: var(--black-logo-color);
}
.logo__text--white {
  color: var(--white-color);
}

.menu-open-button {
  margin-left: auto;
  border: none;
  background-color: var(--white-color);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

/* --------------------nav------------------ */
.nav {
  // outline: 1px solid tomato;
  display: flex;
  align-items: center;
  margin-left: 88px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav {
  display: flex;
}
.site-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--active {
  color: var(--accent-color);
  &::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: var(--accent-color);
    height: 4px;
    display: block;
    border-radius: 2px;
  }
}

/* ------------------contacts ------------*/
.contacts {
  // outline: 1px solid tomato;

  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  fill: currentColor;
  transition: color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__icon--envelope {
  @media screen and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}
.contacts__icon--smart {
  @media screen and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}
