.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden .modal {
  transform: scale(0.1) rotate(-180deg);
  border-radius: 50%;
}

.modal {
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms, border-radius 250ms;

  @media screen and (max-width: 449px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: fill 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
/*---------------- Форма модального окна -----------------*/
.modal-title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
.form {
  // width: 448px;
  // width: 370px;
  outline: 1px solid tomato;
}
.form > ul {
  margin: 0;
  margin-bottom: 10px;
}
.form-item {
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.form-box {
  position: relative;
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--cubic-bezier);
  .form-input:focus + & {
    fill: var(--accent-color);
  }
}
.form-label {
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms var(--cubic-bezier);
  &:focus {
    border-color: var(--accent-color);
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-textarea {
  padding: 12px 16px;
  resize: none;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  &::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox {
  margin-bottom: 30px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  .checkbox-input:checked + & span {
    background-color: var(--accent-color);
    border: none;
  }
  .checkbox-input:focus + & span {
    border-color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox-link {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-icon {
  fill: transparent;
  transition: fill 250ms var(--cubic-bezier);
  .checkbox-input:checked + .checkbox-label & {
    fill: var(--white-color);
  }
}
.icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
}

.form-button {
  padding: 10px 55px;
}
