.subscription__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
.subscription__box {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.subscription__input {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background: #2f303a;
  outline: none;
  margin-right: 12px;
  color: var(--white-color);
  &::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--secondary-white-color);
  }
}

.subscription__button {
  padding: 10px 27px;
}
.button__icon {
  margin-left: 10px;
}
