body {
  background-color: var(--white-bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  display: block;
}
