:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-bg-color: #ffffff;
  --black-logo-color: #000000;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --grey-bg-color: #f5f4fa;
  --icon-primary-color: #afb1b8;
  --cubic-bezier: cubic-bezier(0.04, 0, 0.2, 1);
}
